<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="../public//css/geral-base-estilo-html/all.css">
        <link rel="stylesheet" type="text/css" href="../public/css/login/login.css">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Old+Uyghur&family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Signika:wght@300..700&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <div id="container">
            <form action="/" method="POST">
                <div id="area-title">
                    <div>
                        <img src="../public/imagens/hemoware1.png" width="150px" height="140px">
                    </div>
                    <div id="title">
                        <h1>Hemoware</h1>
                    </div>
                </div>
                
                <div id="input-group">
                    <div class="input-group-text">
                        <input class="user" type="text" name="login" placeholder="Usuário"/>
                    </div>
                    <div class="input-group-text">
                        <input type="password" name="password" placeholder="Senha" required/>
                    </div>
                </div>

                <div id="area-button">
                    <div>
                        <button type="submit" name="acao" value="Logar">Logar</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>