button {
    /* cor alterada */
    background-color: #004075;
    height: 40px;
    width: 120px;
}

#area-title {
    flex-direction: column;
}

#title {
    margin-top: 0;
}

#input-group {
    margin-top: 25px;
}

#area-button {
    margin-top: 25px;
}

.input-group-text input {
    width: 90%;
    height: 40px;
}