#title {
    margin-top: 0;
}

#input-group {
    flex-direction: row;
    margin: 35px 0 25px 0;    
    width: 100%;
}

.input-group-text {
    flex-direction: column;
    margin: 5px 5px 5px 5px;
    width: 230px;
}

button {
    /* cor alterada */
    background-color: #004075;
    width: 340px;
    height: 40px;
}

#area-button {
    width: 100%;
    gap: 10px;
}

#estoque {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding: 5px;
}

.estoque-bolsas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.estoque-tipos {
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    height: 100px;
}